.ContraHombres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}
.Titulo {
  grid-column: 1/-1;
}
.Cuerpo {
  display: contents;
}
@media (max-width: 768px) {
  .ContraHombres {
    grid-template-columns: 1fr;
  }
}
